@model dynamic

@{
    ViewData["Title"] = "A2A Payments NZ";
}


<header class="text-center mb-3">
    <h1 class="mb-1">A2A Payments NZ</h1>
    <p class="text-muted">Sign up for A2A payments.</p>
    <p class="text-muted">For more information visit $placeholder</p>
</header>

<br />
<br />

<table class="table text-center align-middle">
    <tbody>
        <tr>
            <td>
                <h3 class="mb-1">Add to A2A Payments NZ to your Xero account</h2>
                <a class="btn btn-xero" href="/SignInWithXero/StartSignInWithXero">
                    <img src="/images/xero-logo.svg" alt="Xero Logo" style="height:18px; margin-right:6px;">
                    Add A2A Payments NZ to Xero
                </a>
            </td>
        </tr>
    </tbody>
</table>

<br />
<br />