@model dynamic

@{
    ViewData["Title"] = "Welcome to Xero Dotnet Sample App";
}


<header class="text-center mb-3">
    <h1 class="mb-1">A2A Bank Transfer Payment Service setup</h1>
    <p class="text-muted">UI for merchants</p>
</header>

<br />
