@model dynamic

<h2>Subscribe to Xero App Store Subscription</h2>

<br>
<p>
    This <a href="@ViewBag.subscriptionLink" style="color: blue;">buy now link</a> is embedded with the subscription URL to send the Xero user with the connected tenant to XASS page.
</p>