# Once pulled, during development alternate below appsettings.json part
# A2APaymentsApp/appsettings.json
# A2APaymentsApp/appsettings.Development.json

# Build outputs
A2APaymentsApp/bin/*
A2APaymentsApp/obj/*

# Database files
*.db
*.db-shm
*.db-wal

*.gz
*.swp
*.*~
*.pyc

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Visual Studio Code
# .vscode/

# User-specific files
A2APaymentsApp/non_tenanted_xerotoken.json
A2APaymentsApp/state.json
A2APaymentsApp/tenantid.json
A2APaymentsApp/xerotoken.json
xero-dotnet-sample-app.sln
.gitmodules
.vs

.idea
A2APaymentsNZ.sln.DotSettings.user
