<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://artifactory.xero-support.com/api/nuget/v3/nuget-gallery" protocolVersion="3"  />
        <add key="nuget-internal" value="https://artifactory.xero-support.com/api/nuget/v3/nuget-internal" protocolVersion="3"  />
    </packageSources>
</configuration>
