@model dynamic

<h2>Cannot subscribe for this region</h2>

<br>
<p>
    The Xero organisation @ViewBag.Org is in @ViewBag.CountryCode and the region is not yet supported with Xero App Store Subscription billing.
</p>